<h1>Eat-Da-Burger!</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <br>
                <br>
                <h4>Devour it:</h4>
                <br>
                {{#each burgers}}
                {{#unless this.devoured}}
                <div>

                    <form action="/burgers/{{this.id}}/false" method="POST">
                        <button class="btn-outline-warning btn-lg" type="submit" data-burgerid="{{this.id}}" data-flag="false">{{this.burger_name}}</button>
                      
                    </form>

                    {{!-- <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                    </form> --}}
                </div>
                {{/unless}}
                {{/each}}
            </div>



            <div class="col s6">
                <br>
                <br>
                <h4>Devoured:</h4>
                <br>
                {{#each burgers}}
                {{#if this.devoured}}
                <form action="/burgers/{{this.id}}/true" method="POST">
                    <div class='burgerEaten'>
                        <div>
                            <b><button class="btn-outline-primary btn-lg">{{this.burger_name}}</button></b>
                            
                        </div>
                    </div>
                </form>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <br>
        <br>
        <hr>
        <br>

        <h2>Add A Burger</h2>

        <div class="row">
            <div class="col s12">
                <form action="/burger/add/" method="POST" class="bur_move" method="POST">
                    <input type="text" id="bur_name" name="burger_name" placeholder=" Type Burger">
                    <button type="submit" class="addBurgerButton  btn-success btn-lg">Add A Burger</button>
                </form>
            </div>
        </div>
    </div>

</main>






<script type="text/javascript">

    function update() {
        alert("update b");
        // Get the ID from the button.
        // This is shorthand for $(this).attr("data-planid")
        var id = $(this).data("burgerid");



        // Send the DELETE request.
        $.ajax("/burgers/" + id, {
            type: "POST"
        }).then(
            function () {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                // location.reload();
            }
        );
    }

    $(document).on("click", "#update", update);
</script>